/.vs
**/obj
**/bin
/Logs
/WebApi/WebApi.csproj.user
/old.StsServer
/StsServer/node_modules
/StsServer/Properties/PublishProfiles/security-headers-sts - Web Deploy.pubxml.user
/WebApi/Properties/PublishProfiles/security-headers-web-api - Web Deploy.pubxml.user
/WebMVCClient/Properties/PublishProfiles/security-headers-sts-webhybridclient - Web Deploy.pubxml.user
/StsServer/StsServerIdentity.csproj.user
/WebMVCClient/WebHybridClient.csproj.user
/WebMVCClient/Properties/PublishProfiles/security-headers-webhybridclient - Web Deploy.pubxml.user
/DeviceFlowWeb/node_modules
/StsLogs.txt
/DeviceFlowWeb/DeviceFlowWeb.csproj.user
/WebCodeFlowPkceClient/WebCodeFlowPkceClient.csproj.user
/PkceClientApp.txt
