
@{
    ViewData["Title"] = "ErrorEnable2FA";
}

<h1>The client application requires you to have MFA enabled. Enable this, try login again.</h1>

<br />

You can enable MFA to login here:


<br />

<a asp-controller="Manage" asp-action="TwoFactorAuthentication">Enable MFA</a>

