@page
@model AspNetCoreRequireMfaOidc.AccessDeniedModel
@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>AccessDenied</h1>


You can enable MFA to login here:

<a href="https://localhost:44352/Manage/TwoFactorAuthentication">Enable MFA</a>

