@page
@model DownloadPersonalDataModel
@{
    ViewData["Title"] = "Download Your Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}
@{
    Layout = "_Layout.cshtml";
}

<h4>@ViewData["Title"]</h4>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}