@using Microsoft.Extensions.Options
@using StsServerIdentity.Models
@{
    ViewData["Title"] = "StsServerIdentity Home";
}
@inject IOptions<AuthConfigurations> OptionsStsConfig

@if (User.Identity.IsAuthenticated)
{
    <h1>Hi @User.Identity.Name</h1>
}
else
{
    <br />
}


<a href="@OptionsStsConfig.Value.WebHybridClientUrl">
Web Hybrid Client 
</a>

<br /><br />

<a href="@OptionsStsConfig.Value.WebCodeFlowPkceClientUrl">
Web Code Flow PKCE Client
</a>

<br /><br />

<a href="@OptionsStsConfig.Value.AspNetCoreRequireMfaOidcUrl">
ASP.NET Core OIDC Client Require MFA
</a>