@page
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">

    @if (HttpContextAccessor.HttpContext!.User.Identity!.IsAuthenticated)
    {
        <h1 class="display-4">Hi @HttpContextAccessor.HttpContext.User.Identity.Name</h1>

    }
    else
    {
        <h1 class="display-4">Time to login :)</h1>
    }
    <p>Device Flow Web application</p>
</div>